<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.amr.definition"
          xmlns:tools="http://schemas.android.com/tools">
    <!-- Androidx+ multidex, put inside application tag : android:name="androidx.multidex.MultiDexApplication" -->
    <application>

        <!--meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="YOUR_APP_ID_HERE" /-->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="YOUR_APPLOVIN_SDK_KEY_HERE" />

    </application>

</manifest>
